<h1>{{title}}</h1> <!--interpolation-->
<p [innerHTML]="title">This is innerHTML</p>  <!--property binding-->

<input type="text" [(ngModel)]="name" >
<h1>{{name}}</h1>

<img [src]="img">

<p [ngStyle]="{color:colorVal, backgroundColor:bgColor, width:width}">Property binding</p>

<div [ngClass] = "'one'">
  Property binding in Angular, we have to set values for properties of HTML elements or directives. Proeprty binding to do things like toggle button functionality,
    set path programmatically and share values between components
</div>
